/* responsiveness for mobile devices and the recipe cards */
@media (max-width:600px) {
    .img.img-fluid {
        width: 100%;
        height: auto;
    }
    .card.card-body {
        text-align: center;
    }
}

/* hide page title on small screens */
@media (max-width:620px) {
    .navbar-brand {
        display: none;
    }
}

.alert-success {
    background-color: #11a311; /* Custom green */
    color: #ffffff;          /* Custom text color */
    border-color: #171b18;   /* Custom border color */
    font-weight: bold;
    text-align: center;
}