/* responsiveness for mobile devices and the recipe cards */
@media (max-width:600px) {
    .card.card-image img {
        width: 100%;
        height: auto;
    }
    .card.card-content {
        text-align: center;
    }
}

/* hide page title on small screens */
@media (max-width:620px) {
    .page-title {
        display: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: greenyellow;
}