{% extends 'base.html' %}

{% block content %}
<div class="container">
    {%if messages %}
    <div class="alert-container">
        {% for messages in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <h2 class="text-center">Add a New Recipe</h2>
    <p>Welcome to the add recipe page, please share any great dishes you might want to</p>

    <!-- card view for form-->
    <div class="card">
        <div class="card-body">
            <h4 class="text-center">Your Recipe</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- recipe name-->
                <div class="mb-3">
                    <label for="id_name" class="form-label">Recipe Name:</label>
                    <input type="text" name="name" id="id_name" class="form-control" required>
                </div>

                <!--recipe ingredients-->
                <div class="mb-3">
                    <label for="id_ingredients" class="form-label">ingredients:</label>
                    <textarea name="ingredients" id="id_ingredients" class="form-control" rows="4"
                    required></textarea>
                </div>

                <!--recipe instructions-->
                <div class="mb-3">
                    <label for="id_instructions" class="form-label">Instructions:</label>
                    <textarea name="instructions" id="id_instructions" class="form-control" rows="4"
                     required></textarea>
                </div>

                <!--recipe category-->
                <div class="mb-3">
                    <label for="id_category" class="form-label">>Category:</label>
                    <select id="id_category" name="category" class="form-select" required>
                        <option value="" disabled selected>Choose a category</option>
                        <option value="Starters">Starters</option>
                        <option value="Mains">Mains</option>
                        <option value="Desserts">Desserts</option>
                    </select>
                </div>

                <!--recipe image upload with placeholder-->
                <div class="mb-3">
                    <label for="id_image" class="form-label">Recipe Image:</label>
                    <input id="id_image" type="file" name="image" class="form-control" required>
                    <img src="https://via.placeholder.com/100" alt="Placeholder image" id="image-preview" class="img-thumbnail mt-3">
                </div>

                <!--submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Recipe</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //function to preview image before upload
    document.getElementById('id_image').addEventListener('change', function(event) {
        const imagePreview = document.getElementById('image-preview');
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
            }
            reader.readAsDataURL(file);
        } else {
            imagePreview.src = 'https://via.placeholder.com/100';
        }
    });

    //function to auto dismiss the toast message after 5sec
    document.addEventListener('DOMContentLoaded', function () {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            setTimeout(() => {
                alert.style.display='none';
            }, 5000);
        });
    });
</script>
{% endblock %}