<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Materialize CSS stylesheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--CSS link-->
    <link rel="stylesheet" href="{% static 'recipe_share_app/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Sharing Platform{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper blue">
                <a href="{% url 'index' %}" class="brand-logo">Recipe Sharing Platform</a>
                <!--mobile nav-->
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!--desktop nav-->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'starters' %}">Starters</a></li>
                    <li><a href="{% url 'mains' %}">Mains</a></li>
                    <li><a href="{% url 'desserts' %}">Desserts</a></li>
                    <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
                    <li><a href="{% url 'delete' %}">Delete Recipes</a></li>
                    <li><a href="{% url 'edit_recipe' %}">Edit a recipe</a></li>
                </ul>
            </div>
       </nav>
       <ul class="sidenav" id="mobile-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'starters' %}">Starters</a></li>
            <li><a href="{% url 'mains' %}">Mains</a></li>
            <li><a href="{% url 'desserts' %}">Desserts</a></li>
            <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
            <li><a href="{% url 'delete' %}">Delete Recipes</a></li>
            <li><a href="{% url 'edit_recipe' %}">Edit a recipe</a></li>
        </ul>
    </header>
    <main class="container">
        <div class="card-pannel center-align">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="page-footer blue">
        <div class="container">
            <p>&copy; 2024 Recipe Sharing Platform</p>
        </div>
    </footer>

    
    <!--Initialize materialize-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var modals = document.querySelectorAll('.modal');
            M.AutoInit();
            const sidenavElems= document.querySelectorAll('.sidenav');
            M.Sidenav.init(sidenavElems);
            var selects = document.querySelectorAll('select');
            M.FormSelect.init(selects);
            var textareas = document.querySelectorAll('.materialize-textarea');
            M.textareaAutoResize(textareas);
            var collapsibles = document.querySelectorAll('.collapsible');
            M.Collapsible.init(collapsibles);
        });
    </script>
</body>
</html>