{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Delete Recipes</h1>

    <!--list with delete buttons-->
    <ul class="list-group">
        {% for recipe in recipes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="rounded me-3" style="width: 50px; height: 50px;">
            <span class="me-auto">{{ recipe.name }}</span>
            <button class="btn btn-danger delete-button" data-recipe-id="{{ recipe.id }}" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
        </li>
        {% endfor %}
    </ul>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"> Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you really sure you want to delete this recipe?</p>
                </div>
                <div class="modal-footer">
                    <button id="confirm-delete" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <form id="delete-form" method="POST" action="{% url 'delete' %}">
        {% csrf_token %}
        <input type="hidden" name="recipe_id" id="recipe-id-to-delete">
    </form>    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const deleteButtons = document.querySelectorAll('.delete-button');
        const deleteForm = document.getElementById('delete-form');
        const recipeIdInput = document.getElementById('recipe-id-to-delete');
        const confirmDelete = document.getElementById('confirm-delete');


        let selectedRecipeId = null;

        deleteButtons.forEach(button => {
            button.addEventListener('click',() => {
                selectedRecipeId = button.getAttribute('data-recipe-id');
                recipeIdInput.value = selectedRecipeId;
            });
        });


    confirmDelete.addEventListener('click', () => {
        if (selectedRecipeId) {
            deleteForm.submit();
            }
        });
    });
</script>
{% endblock %}