{% extends 'base.html' %}

{% block content %}
<h1>Edit Recipes</h1>

<ul class="collection">
    {% for recipe in recipes %}
    <li class="collection-item avatar">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
        <span class="title">{{ recipe.name }}</span>
        <button class="btn waves-effect waves-light edit-button" data-recipe-id="{{ recipe.id }}">Edit</button>
    </li>
    {% endfor %}
</ul>

<!--semi transparent underlay for edit mode-->
<div id="overlay"></div>

<!--modal to actually edit recipes-->
<div id="edit-modal" class="modal">
    <div class="modal-content">
        <h4>Edit Recipe</h4>
        <form id="edit-form" method="POST">
            {% csrf_token %}
            <div class="input-field">
                <img id="current-image" src="" alt="current recipe image" style="max-width: 100%; display:none;">
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Upload Image</span>
                    <input type="file" name="image" id="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload a new image">
                </div>
            </div>
            <div class="input-field">
                <input type="text" name="name" id="name" placeholder="Recipe Name">
            </div>
            <div class="input-field">
                <textarea name="ingredients" id="ingredients" class="materialize-textarea"
                    placeholder="Ingredients"></textarea>
            </div>
            <div class="input-field">
                <textarea name="instructions" id="instructions" class="materialize-textarea"
                    placeholder="Instructions"></textarea>
            </div>
            <div class="input-field">
                <select name="category" id="category">
                    <option value="Starters">Starter</option>
                    <option value="Mains">Main</option>
                    <option value="Desserts">Dessert</option>
                </select>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Save</button>
            <button type="button" id="cancel-edit" class="btn red lighten-1">Cancel</button>
        </form>
    </div>

<script>
    //function to resize text area to fit content without type error
    function resizeTextArea() {
        M.updateTextFields();

        const ingredients = document.getElementById('ingredients');
        const instructions = document.getElementById('instructions');

        console.log('ingredients Value', ingredients.value);
        console.log('instructions Value', instructions.value);

        ingredients.style.height = 'auto';
        ingredients.style.height = ingredients.scrollHeight + 'px';

        instructions.style.height = 'auto';
        instructions.style.height = instructions.scrollHeight + 'px';

        console.log('ingredients scrollHeight3', ingredients.scrollHeight); //to be remved before submission
        console.log('instructions scrollHeight3', instructions.scrollHeight); //to be remved before submission
    }



    document.addEventListener('DOMContentLoaded', function () {
    M.AutoInit();
});

    const modal = document.getElementById('edit-modal');
    const overlay = document.getElementById('overlay');
    const nameField = document.getElementById('name');
    const ingredientsField = document.getElementById('ingredients');
    const instructionsField = document.getElementById('instructions');
    const categoryField = document.getElementById('category');
    const cancelEdit = document.getElementById('cancel-edit');
    const currentImage = document.getElementById('current-image');
    const editForm = document.getElementById('edit-form');

    document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', () => {
            const recipeId = button.getAttribute('data-recipe-id')
   
            fetch(`/edit_recipe/details/${recipeId}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('http error: ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    // populate the form with the recipe details
                    nameField.value = data.name;
                    ingredientsField.value = data.ingredients;
                    instructionsField.value = data.instructions;
                    categoryField.value = data.category;


                    console.log('ingredients scrollHeight1', ingredientsField.scrollHeight); //to be remved before submission
                    console.log('instructions scrollHeight1', instructionsField.scrollHeight); //to be remved before submission

                    // update and display the current image
                    if (data.image) {
                        currentImage.src = data.image;
                        currentImage.style.display = 'block';
                    } else {
                        currentImage.src = '';
                        currentImage.style.display = 'none';
                    }

                    console.log('ingredients scrollHeight2', ingredientsField.scrollHeight); //to be remved before submission
                    console.log('instructions scrollHeight2', instructionsField.scrollHeight); //to be remved before submission
                    //attempt to fix TC type error and text area size
                    //trying with a delay in order to let the DOM update
                    setTimeout(() => {
                        resizeTextArea();
                    }, 50);

                    //update form action and show the modal
                    editForm.action = `/edit_recipe/update/${recipeId}/`;
                    overlay.style.display = 'block';
                    modal.style.display = 'block';
                })
                .catch(error => {
                    alert('An error occured getting recipe details');
                });
            
        });
    });

    editForm.addEventListener('submit', (event) => {
        event.preventDefault();
    
        const formData = new FormData(editForm);

        fetch(editForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Recipe updated successfully');
                window.location.reload();
            } else {
                alert('Error: ' + JSON.stringify(data.errors));
            }
        })
        .catch(error => alert('There was an error with the fectch request: ' + error.message));
    });

    cancelEdit.addEventListener('click', () => {
        modal.style.display = 'none';
        overlay.style.display = 'none';
    });
</script>
{% endblock %}