{% extends 'base.html' %}

{% block title %}Starters - Recipe Sharing Platform{% endblock %}

{% block content %}
<h2 class = "center-align">Starters</h2>
<ul class="collapsible">
    {% for recipe in recipes %}
        <li>
            <div class=""collapsible-header">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" style="width: 100px; height: 100px; margin-right: 10px">
            <strong>{{ recipe.name }}</strong> - Created on {{ recipe.date_created|date:"M d, Y" }}
            <p>{{ recipe.ingredients }}</p>
            </div>
            <div class="collapsible-body">
                <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
                <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}